@import "~bootstrap/scss/bootstrap";
@mixin sm {
  @include media-breakpoint-up(sm) {
    @content;
  }
}
@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

// GENERAL
body {
  background-color: black;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

// STATIC PAGES
.pong-container {
  @extend .container;
}
.pong-card {
  @extend .card;
  @extend .container;
  max-width: 540px;
  margin-top: 15px;

  .btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

// DYNAMIC GAME#SHOW PAGE
.pong-no-resize {
  position: fixed;
  height: 100%;
  width: 100%;
}
.pong-relative {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
}
.pong-game {
  width: 100%;
  height: 0;
  padding-bottom: 66.66%;
  background-color: darkgoldenrod;

  @include landscape {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
  }
}
.pong-input {
  width: 100%;
  flex-grow: 1;

  @include landscape {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .group {
    width: 100%;
    height: 100%;
    background-color: rgba(95, 158, 160, 0.5);
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .multiple {
    width: 50%;
  }
  .right {
    direction: ltr;
  }
  .left {
    direction: rtl;
  }
  .space {
    direction: ltr;
    width: 100%;
    height: 90%;
  }
  .input {
    background-color: black;
    direction: ltr;
    width: 100%;
    height: 10%;
  }
}
