= content_tag :div,
      class: 'pong-connection',
      data: { \
        controller: 'connection',
        game_id: game&.id,
        game_key: game&.key,
        uuid: consumer&.id,
        game_mode: game&.mode \
      }
  .test